<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
		<staticContent>
            <mimeMap fileExtension=".pkg" mimeType="application/octet-stream" />          
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="14.00:00:00" />
        </staticContent>
        <rewrite>
            <rules>
 
		        <rule name="Page Code" stopProcessing="false">
                             <match url="^([^/]+)/?$" />
                    <conditions logicalGrouping="MatchAll" />
                    <action type="Rewrite" url="/index.php" />
                </rule>

                
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <remove value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
