<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Yeti</title>


    <!-- custom css -->
   
    <link href="assests/css/styles.css" rel="stylesheet">

    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">



</head>

<body id="page-top" class="index">

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">yeti</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="page-scroll">
                <a href="#portfolio">Feature</a>
            </li>
            <li class="page-scroll">
                <a href="#about">About</a>
            </li>
             <li class="page-scroll">
                <a href="#pricing">Pricing</a>
            </li>
            <li class="page-scroll">
                <a href="#contact">Contact</a>
            </li>
            <li class="page-scroll">
                <a href="#signupform">Signup</a>
            </li>
            <li><a data-toggle="modal" href="#login">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <header id="headerwrap">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>Are you a startup or content creator?</h3>
                    <h1>Want your vistors to be able to search your content easily?</h1>
                    <h5>Dont want to watse valuable time with coding and hassle?</h5>
                    <h5>Le t us do it for you !<br> We provide a search box for your visotors to access your content</h5>               
                </div>
                <div class="col-lg-8 col-lg-offset-2 himg">
                    <img src="assests/img/browser.png" class="img-responsive">
                </div>
            </div><!-- /row -->
        </div> <!-- /container -->
    </header><!-- /headerwrap -->
    <!-- Portfolio Grid Section -->


        <section id="green">
        <div class="container">
            <div class="row">

                 <div class="col-lg-7 centered">
                    <h3>HOW IT WORKS : </h3>


                    <ol>
                        <li><p>You sign up</p> </li>
                        <li><p> Add the contents you want to be searchable eg links, files, videos ,etc</p></li>
                         <li><p> Voila! That's it!</p></li>
                    </ol>
                    <br>
                    <p>
                    If you want to know more about the techie side, click <a href="">here</a>
                    </p>
                </div>
                <div class="col-lg-5 centered">
                    <img src="assests/img/iphone.png" alt="">
                </div>
                
               
            </div>
        </div>
    </section>



    <section id="green" class="success">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 centered">
                    <img src="assests/img/iphone.png" alt="">
                </div>
                
                <div class="col-lg-7 centered">
                 <h3>Advantages for you  : </h3>


                    <ol>
                        <li><p>Visitors for spend more time on your site</p> </li>
                        <li><p> Easier for them to find what they looking for </p></li>
                         <li><p> Loyalty enhancements</p></li>
                    </ol>
                    <br>
                    <p>
                 Makes more money. <div class="icon-preview"><i class="mdi-social-party-mode"></i><span>mdi-social-party-mode</span></div>
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- pricing Section -->
    <section  id="pricing">
        <div class="container">
               <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Pricing</h2>
             
                </div>
            </div>
            <br>
          <div class="row">
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="pricing text-uppercase">
                        <div class="pricing-title">
                            <h4>Basic Plan</h4>
                            <small class="text-lowercase">Monthly</small>
                        </div>
                        <ul>
                            <li>5 GB Space</li>
                            <li>500 GB Bandwidth</li>
                            <li>10 More Themes</li>
                            <li>Includes essential applications</li>
                            <li>Lifetime Support</li>
                            <li>Monthly prices start from as little as one euro per thousand hits.</li>
                        </ul>
                            <a href="#signupform" class="btn btn-lg btn-outline page-scroll">
                                <i class="fa fa-download"></i> Sign up 
                            </a>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="pricing active text-uppercase">
                        <div class="pricing-title">
                            <h4>Enterprise Plan</h4>
                            <small class="text-lowercase">Monthly</small>
                        </div>
                        <ul>
                            <li>10 GB Space</li>
                            <li>1,000GB Bandwidth</li>
                            <li>100 Themes</li>
                            <li>Includes all applications</li>
                            <li>Monthly prices start from as little as two euro per thousand hits.</li>
                        </ul>
                            <a href="#signupform" class="btn btn-lg btn-outline page-scroll">
                                <i class="fa fa-download"></i> Sign up 
                            </a>
                    </div>
                </div>
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.6s">
                    <div class="pricing text-uppercase">
                        <div class="pricing-title">
                            <h4>Pro Plan</h4>
                            <p>$30</p>
                            <small class="text-lowercase">monthly</small>
                        </div>
                        <ul>
                            <li>10 GB space</li>
                            <li>1,000 GB bandwidth</li>
                            <li>100 more themes</li>
                            <li>Lifetime Support</li>
                        </ul>
                      
                            <a href="#signupform" class="btn btn-lg btn-outline page-scroll">
                                <i class="fa fa-download"></i> Sign up 
                            </a>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- *****************************************************************************************************************
     OUR CLIENTS
     ***************************************************************************************************************** -->
     <section id="cwrap">
          <div class="container">
               <div class="row">
                <div class="col-lg-12 text-center" style="margin-bottom: 29px;">
                   <h2>OUR CLIENTS</h2>
             
                </div>
                </div>
            <br>
            <div class="row centered">
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="assests/img/clients/client01.png" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="assests/img/clients/client02.png" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="assests/img/clients/client03.png" class="img-responsive">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3">
                    <img src="assests/img/clients/client04.png" class="img-responsive">
                </div>
            </div><! --/row -->
     </section><! --/cwrap -->





    <!-- Contact Section -->
    <section class="success" id="signupform">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sign up</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                         <form class="form-horizontal" id="signup" method="post" name='signin'>
                                <div class="form-group" id="signup_alert">
                                </div>

                                <div class="form-group">
                                    <input type="hidden" class="form-control floating-label" name="displayAlertLocation" value="signup_alert" >
                                </div>




                                <div class="form-group">
                                    <input type="text" class="form-control floating-label" name="firstName" placeholder="First Name">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control floating-label" name="lastName" placeholder="Last Name">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control floating-label" name="email" placeholder="email">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control floating-label" name="website" placeholder="website">
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control floating-label" name="companyName" placeholder=" Company Name" >
                                </div>

                                <div class="form-group">
                                    <input class="form-control" id="pwd" name="password" placeholder="Password" type="password">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-warning btn-block ">Add Files</button>
                                </div>
                            </form>
                   
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>3481 Melrose Place<br>Beverly Hills, CA 90210</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                     <h3> <a href="#about" id="AboutStyle">About Yeti</a></h3>
 
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Projectbird 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

      <div id="login" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                            <div class="form-group" id="alerts">
                                </div>
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <form class="form-horizontal" id="signin" method="post" name='signin'>
                       
                            

                                <div class="form-group">
                                    <input type="email" class="form-control floating-label" name="email" placeholder="email">
                                </div>

                                <div class="form-group">
                                    <input class="form-control" id="pwd" name="password" placeholder="Password" type="password">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-warning btn-block btn-lg">Sign In</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>








    <!-- jQuery -->
    <script src="assests/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assests/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="assests/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="assests/js/jqBootstrapValidation.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="assests/js/freelancer.js"></script>
<script src="assests/js/handles.js"></script>


    
      <script src="assests/js/ripples.min.js"></script> 
      <script src="assests/js/material.min.js"></script> <script>
$(document).ready(function() {
      // This command is used to initialize some elements and make them work properly
      $.material.init();
    }
                     );
</body>

</html>
